@media (max-width: 767px) {
  /* Global Styling*/
  body {
    margin-bottom: 55px;
  }
  .title h2 {
    font-size: 28px;
  }
  .title h2::after {
    width: 50px;
  }
  .title h4 {
    font-size: 16px;
  }
  /* Navbar 1*/
  .navbar1 {
    padding: 0.5rem 1rem;
  }
  .navbar1 div:last-of-type {
    align-self: center;
  }
  .navbar1 .navbar_links {
    flex-direction: column;
  }
  .navbar1 .navbar_links li {
    font-size: 15px;
  }
  /* Navbar 2*/
  .navbar2 {
    padding: 1rem;
  }
  .navbar2 .hamburger-section .open-menu {
    width: 100%;
  }
  .navbar2 .hamburger-section .hamburger-menu {
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;
  }
  .navbar2 .hamburger-section .hamburger-menu nav {
    position: static;
    overflow-y: auto;
    background-color: #ffffff;
  }
  .navbar2 .hamburger-section .hamburger-menu nav ul li {
    flex-direction: column;
  }
  .navbar2 .hamburger-section .hamburger-menu .sidebar-overlay {
    width: 100px;
    position: static;
  }
  .navbar2 .hamburger-section .hamburger-menu .hamburger-menu_list li ul {
    position: unset;
  }
  .navbar2 .hamburger-section .hamburger-menu .hamburger-menu_list li .sub-menu-large {
    height: auto;
    width: auto;
  }
  .navbar2 .hamburger-section .hamburger-menu .hamburger-menu_list li .sub-menu-large .hamburger-img {
    display: none;
  }
  .navbar2 .quickNav {
    display: none;
  }
  /* Showcase */
  .showcase .showcase_img .center .center_main {
    font-size: 3rem;
  }
  /*Mini_Banner */
  .mini_banners .two_banner {
    align-items: center;
    flex-direction: column;
  }
  .mini_banners .two_banner .left_banner {
    margin-bottom: 40px;
    width: 344px;
    height: 200px;
  }
  .mini_banners .two_banner .left_banner img:first-of-type {
    height: 110%;
    top: -7px;
    width: 120%;
  }
  .mini_banners .two_banner .left_banner img:last-of-type {
    top: -84px;
    left: 56px;
    width: 65%;
  }
  .mini_banners .two_banner .right_banner {
    width: 344px;
    height: 200px;
  }
  .mini_banners .two_banner .right_banner img:first-of-type {
    top: 0px;
    left: 32px;
    width: 91%;
  }
  .mini_banners .two_banner .right_banner img:last-of-type {
    top: -51px;
    left: 50px;
  }
  .title_para .title_para-text {
    width: 75%;
  }
  /*Swiper Slider */
  .slider1 .slider1-text h3 {
    font-size: 21px;
  }
  .slider1 .slider1-text h3::after {
    width: 42px;
  }
  .slider1 .slider1-text a i {
    font-size: 12.5px;
  }
  .slider1 .slider1-text span {
    font-size: 13px;
  }
  .slider1 .vrSet {
    left: 30px;
    top: 73px;
    height: 72%;
  }
  .slider1 .ps4 {
    top: 68px;
    left: 26px;
    height: 60%;
  }
  .slider1 .xbox1 {
    top: 81px;
    left: 12px;
    height: 60%;
  }
  .slider1 .nSwitch {
    top: 80px;
    left: 2px;
    height: 59%;
  }
  .products .product_content .pc_headers ul li {
    padding: 0;
    font-size: 1rem;
  }
  .products .product_content .pc_headers ul li:nth-child(2) {
    padding: 0 8px;
  }
  /* Services */
  .service_layout {
    height: auto;
  }
  .service_layout .services {
    border: none;
    display: block;
  }
  .service_layout .services span {
    font-size: 20px;
  }
  .service_layout .services .service1,
  .service_layout .services .service2,
  .service_layout .services .service3 {
    justify-content: center;
  }
  .service_layout .services .service1 {
    padding: 25px 0 0;
    border-top: 1px solid #96a4a5;
  }
  .service_layout .services .service1 img {
    height: 66px;
  }
  .service_layout .services .service2 {
    border: none;
    padding: 0;
  }
  .service_layout .services .service2 img {
    height: 66px;
  }
  .service_layout .services .service3 {
    padding: 0 0 25px;
    border-bottom: 1px solid #96a4a5;
  }
  .service_layout .services .service3 img {
    height: 68px;
  }
  /*Brand*/
  .brands .logo_brands .logo {
    height: 90%;
  }
  .floatingMenu {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    height: 58px;
    padding: 0 1rem;
    width: 100%;
    z-index: 9;
  }
  .floatingMenu .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
  }
  .floatingMenu .link .icon img {
    width: 31px;
    filter: invert(1);
  }
  .floatingMenu .link .icon .heart {
    width: 33px;
  }
  /* Footer*/
  footer .email_list {
    flex-direction: column;
    padding: 1rem 2rem 1.6rem;
  }
  footer .email_list .email {
    margin-bottom: 28px;
  }
  footer .email_list .email p {
    line-height: 24px;
    margin-bottom: 19px;
  }
  footer .email_list .email .newsletter-section {
    width: 350px;
  }
  footer .email_list .socialinfo {
    text-align: center;
    width: 100%;
  }
  footer .email_list .socialinfo p {
    margin: 0;
    text-align: center;
  }
  footer .email_list .socialinfo i {
    margin: 1rem;
  }
  footer .footer_info {
    flex-direction: column;
    align-items: center;
  }
  footer .footer_info ul {
    display: none;
  }
  footer .subfooter .container {
    flex-direction: column-reverse;
  }
  footer .subfooter .container p {
    font-size: 13px;
  }
  footer .subfooter .container .payment img {
    margin: 3px 8px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1430px) {
  .container {
    max-width: 1400px;
    margin: auto;
  }
}
